{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Project 2 Code</h1>
{% include 'flash_messages.html' %}
<p>Photogram is a fictional clone of Instagram. Users can post photos to share with 
their family and friends as well as 'like' and 'follow' other users.</p>
<p class="lead">This project was a collaboration by:
<ul> 
    <li><p class="lead">Dukie Ebanks - 620099938</p></li>
    <li><p class="lead">Monique Francis - 620078544</p></li>
    <li><p class="lead">Neko Davis - 620091822</p></li>
    <li><p class="lead">Tafari Lewis - 620100577</p></li>
</ul>
{% endblock %}
