{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Project 2 Code</h1>
{% include 'flash_messages.html' %}
<p>Photogram is a fictional clone of Instagram. Users can post photos to share with 
their family and friends as well as 'like' and 'follow' other users.</p>

<p class="lead">This project was a collaboration by: </p>
<ul> 
    <li><p class="lead">Monique Francis</p></li>
    <li><p class="lead">Neko Davis</p></li>
    <li><p class="lead">Dukie Ebanks</p></li>
    <li><p class="lead">Tafari Lewis</p></li>
</ul>
{% endblock %}
